:root {
    --font: 16px;
    // --font_r: 'CircularStd-Book';
    // --font_m: 'CircularStd-Medium';
    // --font_b: 'CircularStd-Bold';
    // --font_blk: 'CircularStd-Black';
    --primary: #ff9f00;
    --primary-dark: #fb641b;
    --primary-rgb: 11, 7, 94;
    --skipbg: #dfedff;
    --gry: #515151;
    --gry2: #8d98a1;
    --blk: #0d0d0d;
    --border: #eaeaf4;
    --white: #ffffff;
    --black: #000000;
    --danger: #ee0404;
    --base1: #00B1D2;
    --base2: #1873D3;
    //-----------------
    --skip: 34px;
}